@reference "./index.css";

.tiptap {
    outline:none !important;
    border:none !important;
    font-size:0.9rem;
}
.tiptap ul {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

.tiptap h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.tiptap h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.tiptap h3 {
    font-size: 1.25rem;
    /* font-weight: 700; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tiptap hr{
    margin:0.5rem 0;
    padding:0;
    @apply text-primary;
}

.tiptap .mention {
    @apply badge shadow-md;
    margin-top:-2px;
}
