@reference "./index.css";

.tiptap {
    outline:none !important;
    border:none !important;
    @apply text-base;
}
.tiptap ul {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

.tiptap h1 {
    @apply text-xl;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.tiptap h2 {
    @apply text-lg;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.tiptap hr{
    margin:0.5rem 0;
    padding:0;
    @apply text-primary;
}

.tiptap .mention {
    @apply badge shadow-md px-2;
    margin-top:-2px;
}
